<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pw.mr03.mapper.AdminMapper">
    <insert id="insertAdmin" parameterType="pw.mr03.entity.Admin" useGeneratedKeys="true"
            keyProperty="id">
        insert into ok_admin (mobile, real_name, email, password)
        values (#{mobile}, #{realName}, #{email}, #{password})
    </insert>
</mapper>