<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pw.mr03.mapper.AdminMapper">
    <insert id="insertAdmin" parameterType="pw.mr03.entity.Admin" useGeneratedKeys="true"
            keyProperty="id">
        insert into ok_admin (mobile, real_name, email, password)
        values (#{mobile}, #{realName}, #{email}, #{password})
    </insert>

    <resultMap id="BaseResultMap" type="pw.mr03.entity.Admin">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="real_name" property="real_name" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="last_login_time" property="last_login_time" jdbcType="VARCHAR" />
        <result column="last_login_ip" property="last_login_ip" jdbcType="VARCHAR" />
    </resultMap>
    <select id="getAdmin" resultMap="BaseResultMap">
        select
        id, mobile, real_name, email
        from ok_admin
        where id = 5 and is_delete = 0
    </select>
</mapper>